<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <div class="login-container">
        <img src="../public/assets/img/New Max Buscas.png" alt="Logo" class="logo">
        <form id="loginForm">
            <input type="text" id="username" placeholder="Usuário" required>
            <input type="password" id="password" placeholder="Senha" required>

            <button type="submit">Entrar</button>
        </form>
        <p id="error-message" class="error-message" style="color: red;"></p>
    </div>

    <script src="../assets/js/scriptLogin.js"></script>
</body>

</html>